{
  "endpoints": [
    {
      "host": "host1.mydomain.net",
      "port": 3493,
      "name": "myups"
    },
    {
      "host": "host2.mydomain.net",
      "port": 3493,
      "name": "myups"
    },
    {
      "host": "host3",
      "port": 3493,
      "name": "mypus"
    }
  ],
  "monitor_fields": [
    "device.mfr",
    "battery.runtime",
    "input.voltage",
    "ups.load",
    "ups.status",
    "battery.charge",
    "device.serial",
    "model"
  ]
}
